#GITIGNORE for Arcticraft

.gradle/
.metadata/
.settings/
bin/
build/
eclipse/
gradle/
src/main/java/thehippomaster/
src/main/java/com/
.classpath
.project
build.gradle
gradlew



*.bat
*.sh
*.zip
*.cfg
